<nav  class=" teal">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">
        <li><a href="/">Logout</a></li>
      </ul>
    </div>
  </nav>