<ul id="slide-out" class="sidenav sidenav-fixed lime lighten-5">
    <li><a href="/admin/dashboard"><i class="material-icons">list</i>All Devices</a></li>
    <li><a href="/admin/add-device">
      <i class="material-icons">add</i>Add new Device</a>
    </li>
    <li><a href="/admin/add-user">
      <i class="material-icons">person</i> Add User</a>
    </li>
    <li><a href="/admin/all-users">
      <i class="material-icons">group</i> All Users</a>
    </li>
    <li><a href="/"><i class="material-icons">logout</i>Logout</a></li>
  </ul>